@{
    Page.Title = "Contact";
}


<div class="container">
    <h2>Contact Page!</h2>

    <section class="contact">
        <header>
            <h3>Phone:</h3>
        </header>
        <p>
            <span class="label">Main:</span>
            <span>231.557.3649</span>
        </p>
    </section>

    <section class="contact">
        <header>
            <h3>Email:</h3>
        </header>
        <p>
            <span class="label">EMail:</span>
            <span><a href="mailto:belmor5827@yahoo.com">belmor5827@yahoo.com</a></span>
        </p>
    </section>

    <section class="contact">
        <header>
            <h3>Address:</h3>
        </header>
        <p>
            New Michigan, MI 49446
        </p>
    </section>
</div>